<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reservas App{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> {# <--- ESSA É A LINHA QUE PRECISA
        MUDAR! #} <style>
        body {
        background: url("{{ url_for('static', filename='images/background.png') }}") no-repeat center center fixed;
        background-size: cover;
        color: var(--text);
        margin: 0;
        padding: 20px;
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        </style>
        {% block head_extra %}{% endblock %}
</head>

<body>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>