{% extends "base_sem_header.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
  <div class="logo-boas-vindas">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Reservas.app">
  </div>

  <div class="home-container">
    {% if current_user.is_authenticated %}
        <h1>Bem-vindo, {{ current_user.email }}!</h1>
        <p>Escolha uma opção abaixo:</p>
        <div class="button-container">
            <a href="{{ url_for('calendario') }}" class="btn">Ver Calendário</a>
            <a href="{{ url_for('agendar') }}" class="btn">Fazer Agendamento</a>
            <a href="{{ url_for('logout') }}" class="btn logout-btn">Sair</a>
        </div>
    {% else %}
        <h1>Bem-vindo(a) ao Sistema de Reservas</h1>
        <p>Por favor, faça login para acessar o sistema.</p>
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="btn">Fazer Login</a>
        </div>
    {% endif %}
  </div>
{% endblock %}
